# Ignore .env files
membership-app/.env


# Ignore node_modules directories
membership-app/frontend/node_modules/
membership-app/server/node_modules/

simple-blog/.env
#simple-app 
simple-blog/backend/node_modules/
simple-blog/frontend/node_modules/

#On running the script create_gitignore.sh a few lines will be added below similar to the above

